#content {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.webcam-container{
    height: 480px;
    width: 854px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
}

#background-container {
    height: 480px;
    width: 854px;
    background-image: url(../images/greatwall.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

@media screen and (min-width: 768px) {
    .webcam-container {
        background-attachment: fixed;
    }
 }

.form-control.webcam-start{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: black;
    opacity: 0.8;
    padding: 10px 20px;
    border: none;
    color: white;
    text-shadow: 1px 1px #000;
    font-size: 1.2rem;
    width: 400px;
    height: 55px;
    z-index: 9999999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.form-control.webcam-on {
    position: fixed;
    left: 8vw;
    top: 0;
    transition: all 700ms;
  }
.form-control.webcam-off {
    left: 30%;
    transition: all 700ms;
  }
  @media screen and (max-width: 576px) {
    #selfie-anywhere-app {
      height: 100vh;
    }
    .form-control.webcam-start{
        left:10%; 
        width: auto;
        margin-top:40%;
    }
    .form-control.webcam-on {
        position: fixed;
        margin-top: 0;
        top: 20vw;
        left: 0;
        transition: all 700ms;
      }
    .form-control.webcam-off {
       left: 10%;
       margin-top:40%;
       transition: all 700ms;
      }
  }
  
  .form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  
  .form-switch i {
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    width: 60px;
    height: 30px;
    background-color: #e6e6e6;
    border-radius: 25px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
  }
  
  .form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 56px;
    height: 25px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
  }
  
  .form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
  }
  
  .form-switch:active i::after {
    width: 60px;
    transform: translate3d(2px, 2px, 0);
  }
  
  .form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }
  
  .form-switch input { display: none; }
  
  .form-switch input:checked + i { background-color: #4BD763; }
  
  .form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }
  
  .form-switch input:checked + i::after { transform: translate3d(30px, 2px, 0); }

  .form-switch input:disabled + i { background-color: #eeeeee; cursor: not-allowed; }

  .form-switch input:disabled + i::after {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.10);
  }

  #selfie-container {
    height: 480px;
    width: 854px;
    position: relative;
  }

  #canvasPerson{
    background-color: transparent;
    position: absolute;
    width: 854px;
    height: 480px;
    z-index: 9999;
    margin: auto;
    top: 0;
    left: 0;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
  }

  #webcam{
    display: block;
    position: relative;
    width: auto;
    height: 100vh;
    z-index: -100;
    pointer-events: none;
    margin-left: -9999px;
  }

  .spinner-border {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    z-index:300000;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;   
  }

.cameraControls {
    position: absolute;
    bottom: 150px;
    width: 100%;
    z-index: 9999;
    background: transparent;
    opacity: 0.7;
    padding: 10px;
}


.material-icons{
    width: 100px;
    font-size: 50px !important;
    color: white;
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    padding-top: 15px;
    margin: 0 10px;
}


